:root {
    --spacing: 0.35rem;
}

body {
    --primary: hsl(196, 100%, 44%);
    --primary-hover: hsl(196, 100%, 34%);
    --primary-focus: rgba(0, 165, 223, 0.125)
}

app-nav nav ul ul:first-of-type {
    margin-left: var(--nav-element-spacing-horizontal);
}
app-nav a[aria-current] {
    color: var(--primary);
}

@media (min-width: 992px) {
    main .grid {
        grid-column-gap: 2rem;
        grid-template-columns: 25% auto;
    }
}